body {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}